<p id="notice"><%= notice %></p>

<h1>Suas Referências</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Título</th>
      <th scope="col">Autores</th>
      <th scope="col">Descrição</th>
      <th scope="col">Data de publicação</th>
      <th scope="col">Data de cadastro</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @references.each do |reference| %>
      <tr>
        <td><%= reference.title %></td>
        <td><%= reference.authors %></td>
        <td><%= reference.description %></td>
        <td><%= date_to_view(reference.publication_date) %></td>
        <td><%= date_to_view(reference.registered_date) %></td>
        <td><%= link_to 'Mostrar', reference, class: 'btn btn-primary btn-md btn-block' %></td>
        <td><%= link_to 'Editar', edit_reference_path(reference), class: 'btn btn-primary btn-md btn-block' %></td>
        <td><%= link_to 'Excluir', reference, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-md btn-block' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova referência', new_reference_path, class: 'btn btn-primary btn-lg btn-block' %>
