<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @reference.title %>
</p>

<p>
  <strong>Autores:</strong>
  <%= @reference.authors %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @reference.description %>
</p>

<p>
  <strong>Data de publicação:</strong>
  <%= @reference.publication_date %>
</p>

<%= link_to 'Editar', edit_reference_path(@reference), class: 'btn btn-primary btn-lg btn-block' %>
<%= link_to 'Voltar', references_path, class: 'btn btn-warning btn-lg btn-block' %>
