<%= form_with(model: periodic, local: true) do |form| %>
  <% if periodic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(periodic.errors.count, "error") %> prohibited this periodic from being saved:</h2>

      <ul>
      <% periodic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :qualis %>
    <%= form.text_field :qualis %>
  </div>

  <div class="field">
    <%= form.label :knowledgement_area %>
    <%= form.text_field :knowledgement_area %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
