<p id="notice"><%= notice %></p>

<h2 style="color: #33cc33;"><b> Para filtrar, utilize o formulário abaixo: </b></h2>

<%= form_tag('/periodics', method: :get) do %>
  
  <h5 style="color: #33cc33;"><%= label_tag "Selecione a área de conhecimento"%></h5>
  <div class="form-group">
    <%= select_tag(:selected_knowledgement_area, options_for_select(@all_knowledgement_areas), :multiple=>true, :required=>true, class: 'form-control', placeholder: "batata") %>
  </div>


  <h5 style="color: #33cc33;"><%= label_tag "Selecione todos qualis a serem incluídos na consulta"%></h5>
  <div class="form-group">
    <%= select_tag(:selected_qualis, options_for_select(@all_qualis), :multiple=>true, :required=>true, class: 'form-control') %>
  </div>

  <%= submit_tag 'Filtrar', class: 'btn btn-success btn-block' %>
<% end %>

<hr>

<h4 style="color: #6600ff;"><b> Periódicos retornados: </b></h2>
<!-- <% if user_signed_in? %>
  <%= link_to 'Novo Periódico', new_periodic_path, class: "btn btn-primary btn-md"%>
<% end %> -->

<div id="periodicsTab">

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Qualis</th>
        <th scope="col">Área de conhecimento</th>
        <th scope="col">ISSN</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @periodics.each do |periodic| %>
        <tr>
          <td><%= periodic.name %></td>
          <td><%= periodic.qualis %></td>
          <td><%= periodic.knowledgement_area %></td>
          <td><%= periodic.issn %></td>
          <% if user_signed_in? && !periodic.user.nil? %>
            <% if periodic.user.id == current_user.id %>
              <td><%= link_to 'Mostrar', periodic %></td>
              <td><%= link_to 'Editar', edit_periodic_path(periodic) %></td>
              <td><%= link_to 'Excluir', periodic, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<hr>
<h2 style="color: #6600ff;"><b><%= @listage_title %></b></h2>

<div class="row">
  <div class="col">
    <h5 style="color: #6600ff;"><b>Total de Periódicos cadastrados: <%= @periodics_count  %> </b></h5>
  </div>
  <div class="col">
    <h5 style="color: #6600ff;"><b> <%= @returned_results_txt %> </b></h5>
  </div>
</div>


<hr>

<br>

<div id="infinite-scrolling">
  <%= will_paginate %>
</div>
