<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @periodic.name %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @periodic.description %>
</p>

<p>
  <strong>Qualis:</strong>
  <%= @periodic.qualis %>
</p>

<p>
  <strong>Área de conhecimento:</strong>
  <%= @periodic.knowledgement_area %>
</p>

<%= link_to 'Editar', edit_periodic_path(@periodic) %> |
<%= link_to 'Voltar', periodics_path %>
